.landing-page {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;

    h1 {
        margin-top: 0;

        text-align: center;
    }

    .MuiContainer-root {
        margin: 5vw;
        margin-top: -20px;

        border-radius: 5px;
    }

    .wrapper-button {
        display: flex;
        align-items: center;
        flex-direction: column;

        button {
            margin-bottom: 1rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
